
<%if signed_in?%>
  <% if not  current_user.admin? %>
    <p id="notice"><%= notice %></p>

    <h3 class="booking">Ваши заказы</h3>
  
   <table class="features-table">
     <thead>
       <tr>
           <th>От кого</th>
           <th>Почта</th>
           <th>Телефон</th>
           <th>Адрес</th>
           <th>Дата</th>
           <th>Статус</th>
           <th></th>
       </tr>
     </thead>
      <% Order.where(user_email: current_user.email).order("created_at DESC").each do |orderi| %>
            <tbody>
                  <tr>
                    <td><%= orderi.first_name %> <%= orderi.last_name %></td>
                    <td><%= orderi.user_email %></td>
                    <td><%= orderi.phone %></td>
                    <td><%= orderi.adress %></td>
                    <td><%= orderi.created_at %></td>
                    <td><%= orderi.status %></td>
                    <td><%= link_to "Посмотреть", orderi %></td>
                  </tr>
              <% end %>
     </tbody>
    </table>
  <% else %>
    <h3 class="booking">Заказы</h3>

     <table class="features-table">
       <thead>
         <tr>
           <th>От кого</th>
           <th>Почта</th>
           <th>Телефон</th>
           <th>Адрес</th>
           <th>Дата</th>
           <th>Статус</th>
           <th></th>
         </tr>
       </thead>
           <% @orders.order("created_at DESC").each do |orderi| %>
                <tbody>
                  <tr>
                    <td><%= orderi.first_name %> <%= orderi.last_name %></td>
                    <td><%= orderi.user_email %></td>
                    <td><%= orderi.phone %></td>
                    <td><%= orderi.adress %></td>
                    <td><%= orderi.created_at %></td>
                    <td><%= orderi.status %></td>
                    <td><%= link_to "Посмотреть", orderi %></td>
                  </tr>
              <% end %>
       </tbody>
      </table>
  <% end %>
  <% end %>
    


<%= link_to 'Назад', products_path %>
